chromadb
fastapi
geopy
googlemaps
langchain
langchain-groq
langchain-openai
langgraph
ollama
openai
pandas
pydantic
python-dotenv
python-multipart
requests
sentence-transformers
sqlalchemy
twilio
uvicorn
